.FAQ-main {
  padding-top: 5rem;
  overflow: hidden;
}
/*******************blue header*****************************/
.FAQ__blue-header {
  background-color: var(--blue);
  height: 120px;
  width: 100%;
  position: relative;
  font-size: 1.8rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}
.FAQ__blue-header p {
  margin: auto;
}
.FAQ__blue-header__right-shape {
  position: absolute;
  left: -180px;
}
.FAQ__blue-header__left-shape {
  position: absolute;
  right: -160px;
}

/********************************************************/
/********************************************************/

.FAQ__title {
  margin: 2rem 5rem;
  font-size: 1.3rem;
}

.FAQ__cards {
  padding: 3rem 5rem;
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  /* overflow-x: scroll; */
}
.FAQ__cards__card {
  text-align: center;
  width: 10rem;
  height: 10rem;
  border-radius: 1.5rem;
  color: var(--darkblue);
  box-shadow: 0px 0px 25px rgba(24, 148, 255, 0.18);
  position: relative;
}

.FAQ__cards__card span {
  background-color: var(--blue);
  color: white;
  right: 3rem;
  position: absolute;
  top: -0.8rem;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
}

.FAQ__cards__card__img {
  padding-top: 1.6rem;
  margin: 0.5rem 1rem;
}

/***********************FAQ questions and answers*********************************/
.FAQ__Questions-container {
  height: fit-content;
  width: 90%;
  margin: auto;
}

.FAQ__Questions {
  position: static;
  z-index: 20;
  direction: rtl;
  border-bottom: solid 1px rgb(232, 232, 232);
  width: 95%;
  display: flex;
  flex-direction: column;
  transition: height 500ms;
  height: 5rem;
  background-color: white;
  overflow: hidden;
}

.FAQ__Questions--open-answer {
  height: 9rem;
}
.FAQ__Questions__question {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--darkblue);
}
.FAQ__Questions__question p {
  font-size: 0.9rem;
  line-height: 3rem;
}

.FAQ__Questions__symbol {
  padding: 0px 30px 0px 30px;
}
.FAQ__Questions__symbol img {
  width: 1rem;
}

.hide {
  display: none;
}

.FAQ__Questions__answer {
  margin-right: 150px;
}

.FAQ__Questions__answer p {
  padding: 10px 30px 10px 30px;
  border: solid var(--green);
  border-top: none;
  border-left: none;
  border-bottom: none;
}

/*************************************************************************************/

@media only screen and (max-width: 1140px) {
  .FAQ__blue-header__right-shape {
    display: none;
  }
  .FAQ__blue-header__left-shape {
    display: none;
  }
  .FAQ__cards {
    padding: 3rem 4rem;
    grid-template-columns: repeat(4, 16rem);
  }
}

@media only screen and (max-width: 1000px) {
  .FAQ__cards {
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 720px) {
  .FAQ__blue-header {
    font-size: 1.5rem;
    height: 5rem;
  }
  .FAQ__blue-header img {
    display: none;
  }
  .FAQ__title {
    margin: 2rem 2rem;
  }
  .FAQ__cards {
    padding: 3rem 2rem;
    grid-template-columns: repeat(4, 150px);
  }
  .questions-and-answers {
    font-size: 0.9em;
  }
  .qustion-section p {
    font-size: 0.9em;
  }
  .FAQ__Questions__answer {
    margin-right: 50px;
  }
  .FAQ__Questions--open-answer {
    height: 12rem;
  }
  .FAQ__Questions-container {
    width: 100%;
    margin: 1% 0%;
  }
}
