:root {
  --lightblue: #e6f3ff;
  --blue: #1894ff;
  --gray: #e6f3ff;
  --green: #00de9a;
  --darkblue: #2361b5;
  --black: #000000;
}

@font-face {
  font-family: "Yekan-ttf";
  src: url("./assets/font/Yekan.ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 100;
}

html {
  font-family: Yekan-ttf;
}
button {
  font-family: Yekan-ttf;
  cursor: pointer;
}
input {
  font-family: Yekan-ttf;
}
textarea {
  font-family: Yekan-ttf;
}
p {
  line-height: 2rem;
}
.link {
  text-decoration: inherit;
  color: inherit;
}

.hide {
  display: none;
}

.fade-text {
  color: rgb(110, 110, 110);
}
.deactive-item {
  filter: grayscale(100%) opacity(40%);
}

.btn {
  border: solid 0.1rem black;
  font-size: 1.1rem;
  padding: 0.5rem 1.8rem;
  border-radius: 0.6rem;
}
.header {
  font-size: 1.3rem;
  padding: 0;
  padding-right: 0.5rem;
  color: var(--darkblue);
  border-right: 4px solid var(--green);
  direction: rtl;
}
.input-section {
  width: 80%;
  height: 3.75rem;
  border-radius: 0.6rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-section button {
  border: none;
  color: white;
  background-color: var(--blue);
  font-size: 1.1rem;
  border-radius: 0.4rem;
  padding: 0.2em 1em;
  margin-left: 1rem;
}
.input-section input {
  font-size: 1.1rem;
  border: none;
  width: 70%;
  height: 90%;
  border-radius: 20px;
  padding: 0rem 1.5rem;
}
.input-section input:focus {
  outline: none;
}
@media only screen and (min-width: 2000px) {
  html {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 2000px) {
  html {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1580px) {
  html {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1140px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 0.85rem;
  }
}
