:root {
  --lightblue: #e6f3ff;
  --blue: #1894ff;
  --gray: #e6f3ff;
  --green: #00de9a;
  --darkblue: #2361b5;
  --black: #000000;
}

@font-face {
  font-family: "Yekan-ttf";
  src: url("./assets/font/Yekan.ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Yekan-ttf;
}
button {
  font-family: Yekan-ttf;
}

.border {
  border: dashed orange 2px;
}

.btn {
  border: solid 0.1rem black;
  font-size: 1.1rem;
  padding: 0.5rem 1.8rem;
  border-radius: 0.6rem;
}
.header {
  font-size: 1.3rem;
  padding: 0;
  padding-right: 0.6rem;
  color: var(--darkblue);
  border-right: 3px solid var(--green);
  direction: rtl;
}

@media only screen and (min-width: 2000px) {
  html {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 2000px) {
  html {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1580px) {
  html {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1140px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 0.85rem;
  }
}
