/**********************support ****************************/
.support {
  background-color: var(--blue);
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.support__icon {
  margin: 0px 50px 0px 50px;
}
.support__content {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.support__content__title {
  margin: 0px 150px 0px 30px;
}
.support__content__text {
  margin: 8px 30px 0px 30px;
}

/******************footer********************/
.footer {
  height: 25rem;
  display: flex;
  flex-direction: row-reverse;
}
.footer section {
  padding-bottom: 1.5rem;
}
/********footer media ***************/
.footer__media {
  padding: 2.5rem;
  flex: 3;
  font-size: 0.7rem;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer__media > :first-child {
  margin-bottom: 20px;
}

.footer__media div {
  margin-top: 20px;
}
.footer__media__logo {
  direction: ltr;
}
.footer__media__media-list {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
}
.footer__media__media-list img {
  margin: 1rem 1.2rem;
}

/************** footer links*********************/
.footer__links {
  font-size: 0.8rem;
  flex: 3;
  display: flex;
  direction: rtl;
}
.footer__links ul {
  margin-top: 110px;
}
.footer__links ul li {
  list-style: none;
  margin-top: 30px;
}

.footer__links__item a {
  text-decoration: none;
  color: inherit;
}
.footer__links__header {
  font-weight: 600;
}
.footer__links__item--active {
  color: var(--darkblue);
  font-size: 0.9rem;
}

/***************footer download *****************/
.footer__download {
  flex: 4;
  direction: rtl;
}
.footer__download__title {
  margin-top: 8rem;
  margin-right: 20px;
}
.footer__download__download-box button {
  margin: 1.2rem;
  background-color: black;
  border: none;
  height: fit-content;
  padding: 0;
  border-radius: 7px;
  width: 8rem;
}

.footer__download__download-box button img {
  width: 100%;
}
@media only screen and (max-width: 1140px) {
  .footer__download {
    flex: 2;
  }
  .footer__media {
    flex: 2;
  }
  .support {
    font-size: 0.9em;
  }
  .support__icon {
    margin: 0px 10px 0px 10px;
  }

  .support__content__title {
    margin: 0px 20px 0px 20px;
  }
  .support__content__text {
    margin: 8px 30px 0px 30px;
  }
}

@media only screen and (max-width: 720px) {
  .footer__download {
    display: none;
  }
  .footer__links {
    display: none;
  }
  .footer__media {
    font-size: 1rem;
  }
  .footer__media__media-list {
    justify-content: center;
  }
  .support {
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 180px;
  }
  .support__content {
    flex-direction: column;
    align-items: center;
  }
  .support__content__text {
    margin-top: 15px;
  }
  .support__icon {
    margin: 0px 10px 0px 10px;
  }
}
